Schema/undergroundParcel.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:app="http://www.opengis.net/citygml/appearance/3.0" xmlns:brid="http://www.opengis.net/citygml/bridge/3.0" xmlns:bldg="http://www.opengis.net/citygml/building/3.0" xmlns:frn="http://www.opengis.net/citygml/cityfurniture/3.0" xmlns:grp="http://www.opengis.net/citygml/cityobjectgroup/3.0" xmlns:con="http://www.opengis.net/citygml/construction/3.0" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:dyn="http://www.opengis.net/citygml/dynamizer/3.0" xmlns:gen="http://www.opengis.net/citygml/generics/3.0" xmlns:luse="http://www.opengis.net/citygml/landuse/3.0" xmlns:pcl="http://www.opengis.net/citygml/pointcloud/3.0" xmlns:dem="http://www.opengis.net/citygml/relief/3.0" xmlns:tran="http://www.opengis.net/citygml/transportation/3.0" xmlns:tun="http://www.opengis.net/citygml/tunnel/3.0" xmlns:veg="http://www.opengis.net/citygml/vegetation/3.0" xmlns:vers="http://www.opengis.net/citygml/versioning/3.0" xmlns:wtr="http://www.opengis.net/citygml/waterbody/3.0" xmlns:undergroundParcel="https://github.com/Bahram-Saeidian/VicULA_ADE_CityGML3.git" elementFormDefault="qualified" targetNamespace="https://github.com/Bahram-Saeidian/VicULA_ADE_CityGML3.git" version="1.0">
    <import namespace="http://www.opengis.net/citygml/appearance/3.0" schemaLocation="./appearance.xsd"/>
    <import namespace="http://www.opengis.net/citygml/bridge/3.0" schemaLocation="./bridge.xsd"/>
    <import namespace="http://www.opengis.net/citygml/building/3.0" schemaLocation="./building.xsd"/>
    <import namespace="http://www.opengis.net/citygml/cityfurniture/3.0" schemaLocation="./cityFurniture.xsd"/>
    <import namespace="http://www.opengis.net/citygml/cityobjectgroup/3.0" schemaLocation="./cityObjectGroup.xsd"/>
    <import namespace="http://www.opengis.net/citygml/construction/3.0" schemaLocation="./construction.xsd"/>
    <import namespace="http://www.opengis.net/citygml/dynamizer/3.0" schemaLocation="./dynamizer.xsd"/>
    <import namespace="http://www.opengis.net/citygml/generics/3.0" schemaLocation="./generics.xsd"/>
    <import namespace="http://www.opengis.net/citygml/landuse/3.0" schemaLocation="./landUse.xsd"/>
    <import namespace="http://www.opengis.net/citygml/pointcloud/3.0" schemaLocation="./pointCloud.xsd"/>
    <import namespace="http://www.opengis.net/citygml/relief/3.0" schemaLocation="./relief.xsd"/>
    <import namespace="http://www.opengis.net/citygml/transportation/3.0" schemaLocation="./transportation.xsd"/>
    <import namespace="http://www.opengis.net/citygml/tunnel/3.0" schemaLocation="./tunnel.xsd"/>
    <import namespace="http://www.opengis.net/citygml/vegetation/3.0" schemaLocation="./vegetation.xsd"/>
    <import namespace="http://www.opengis.net/citygml/versioning/3.0" schemaLocation="./versioning.xsd"/>
    <import namespace="http://www.opengis.net/citygml/waterbody/3.0" schemaLocation="./waterBody.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractLotParcel" substitutionGroup="undergroundParcel:PrimaryUndergroundParcel" type="undergroundParcel:AbstractLotParcelType"/>
  <complexType abstract="true" name="AbstractLotParcelType">
    <complexContent>
      <extension base="undergroundParcel:PrimaryUndergroundParcelType">
        <sequence>
          <element minOccurs="0" name="entitlement" type="double"/>
          <element minOccurs="0" name="liability" type="double"/>
          <element name="titleRefVol" type="integer"/>
          <element name="owner" type="string"/>
          <element name="titleRefFol" type="integer"/>
          <element minOccurs="0" name="address" type="core:AddressPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractLotParcelPropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundParcel:AbstractLotParcel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CommonProperty" substitutionGroup="undergroundParcel:PrimaryUndergroundParcel" type="undergroundParcel:CommonProperty_Type"/>
  <complexType name="CommonProperty_Type">
    <complexContent>
      <extension base="undergroundParcel:PrimaryUndergroundParcelType">
        <sequence>
          <element name="limitationsOfOwnersCorporation" type="undergroundParcel:OCTypeType"/>
          <element maxOccurs="unbounded" minOccurs="2" name="LandAffectedByOwnersCorporation" type="undergroundParcel:AbstractLotParcelPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CommonProperty_PropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundParcel:CommonProperty"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CrownAllotment" substitutionGroup="undergroundParcel:PrimaryUndergroundParcel" type="undergroundParcel:CrownAllotmentType"/>
  <complexType name="CrownAllotmentType">
    <complexContent>
      <extension base="undergroundParcel:PrimaryUndergroundParcelType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CrownAllotmentPropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundParcel:CrownAllotment"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CrownPortion" substitutionGroup="undergroundParcel:PrimaryUndergroundParcel" type="undergroundParcel:CrownPortionType"/>
  <complexType name="CrownPortionType">
    <complexContent>
      <extension base="undergroundParcel:PrimaryUndergroundParcelType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CrownPortionPropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundParcel:CrownPortion"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="DepthLimitation" substitutionGroup="undergroundParcel:SecondaryUndergroundInterest" type="undergroundParcel:DepthLimitationType"/>
  <complexType name="DepthLimitationType">
    <complexContent>
      <extension base="undergroundParcel:SecondaryUndergroundInterestType">
        <sequence>
          <element name="landApplied" type="string"/>
          <element name="length" type="double"/>
          <element minOccurs="0" name="upperLimit" type="double"/>
          <element minOccurs="0" name="lowerLimit" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DepthLimitationPropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundParcel:DepthLimitation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Easement" substitutionGroup="undergroundParcel:SecondaryUndergroundInterest" type="undergroundParcel:EasementType"/>
  <complexType name="EasementType">
    <complexContent>
      <extension base="undergroundParcel:SecondaryUndergroundInterestType">
        <sequence>
          <element name="easementType" type="undergroundParcel:EasementTypeType"/>
          <element name="origin" type="string"/>
          <element name="beneficiary" type="string"/>
          <element minOccurs="0" name="width" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EasementPropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundParcel:Easement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="EasementTypeType">
    <restriction base="string">
      <enumeration value="encumbering"/>
      <enumeration value="appurtenant"/>
      <enumeration value="encumbering road"/>
    </restriction>
  </simpleType>
  <element name="Lot" substitutionGroup="undergroundParcel:AbstractLotParcel" type="undergroundParcel:LotType"/>
  <complexType name="LotType">
    <complexContent>
      <extension base="undergroundParcel:AbstractLotParcelType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LotPropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundParcel:Lot"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="OCTypeType">
    <restriction base="string">
      <enumeration value="limited"/>
      <enumeration value="unlimited"/>
      <enumeration value="limited to common property"/>
    </restriction>
  </simpleType>
  <simpleType name="ParcelDimensionType">
    <restriction base="string">
      <enumeration value="2D"/>
      <enumeration value="3D"/>
    </restriction>
  </simpleType>
  <simpleType name="ParcelStateType">
    <restriction base="string">
      <enumeration value="created"/>
      <enumeration value="affected"/>
      <enumeration value="extinguished"/>
      <enumeration value="existing"/>
    </restriction>
  </simpleType>
  <simpleType name="ParcelTitleTypeType">
    <restriction base="string">
      <enumeration value="alpine lease"/>
      <enumeration value="crown grant"/>
      <enumeration value="crown grant part"/>
      <enumeration value="crown land"/>
      <enumeration value="crown lease"/>
      <enumeration value="freehold"/>
      <enumeration value="freehold part"/>
      <enumeration value="identified"/>
      <enumeration value="mineral includes"/>
      <enumeration value="mineral excludes"/>
      <enumeration value="treasures receipt"/>
    </restriction>
  </simpleType>
  <simpleType name="ParcelTypeType">
    <restriction base="string">
      <enumeration value="single"/>
      <enumeration value="part"/>
      <enumeration value="multipart"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="PrimaryUndergroundParcel" substitutionGroup="undergroundParcel:UndergroundLegalParcel" type="undergroundParcel:PrimaryUndergroundParcelType"/>
  <complexType abstract="true" name="PrimaryUndergroundParcelType">
    <complexContent>
      <extension base="undergroundParcel:UndergroundLegalParcelType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="affectedBy" type="undergroundParcel:SecondaryUndergroundInterestPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PrimaryUndergroundParcelPropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundParcel:PrimaryUndergroundParcel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Reserve" substitutionGroup="undergroundParcel:PrimaryUndergroundParcel" type="undergroundParcel:ReserveType"/>
  <complexType name="ReserveType">
    <complexContent>
      <extension base="undergroundParcel:PrimaryUndergroundParcelType">
        <sequence>
          <element name="vestingAuthority" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReservePropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundParcel:Reserve"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Restriction" substitutionGroup="undergroundParcel:SecondaryUndergroundInterest" type="undergroundParcel:RestrictionType"/>
  <complexType name="RestrictionType">
    <complexContent>
      <extension base="undergroundParcel:SecondaryUndergroundInterestType">
        <sequence>
          <element name="benefitedLand" type="string"/>
          <element name="burdenedLand" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RestrictionPropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundParcel:Restriction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="SecondaryUndergroundInterest" substitutionGroup="undergroundParcel:UndergroundLegalParcel" type="undergroundParcel:SecondaryUndergroundInterestType"/>
  <complexType abstract="true" name="SecondaryUndergroundInterestType">
    <complexContent>
      <extension base="undergroundParcel:UndergroundLegalParcelType">
        <sequence>
          <element maxOccurs="unbounded" name="fixedBy" type="undergroundParcel:PrimaryUndergroundParcelPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SecondaryUndergroundInterestPropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundParcel:SecondaryUndergroundInterest"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="StageLot" substitutionGroup="undergroundParcel:AbstractLotParcel" type="undergroundParcel:StageLotType"/>
  <complexType name="StageLotType">
    <complexContent>
      <extension base="undergroundParcel:AbstractLotParcelType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StageLotPropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundParcel:StageLot"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="UndergroundLegalParcel" substitutionGroup="grp:CityObjectGroup" type="undergroundParcel:UndergroundLegalParcelType"/>
  <complexType abstract="true" name="UndergroundLegalParcelType">
    <complexContent>
      <extension base="grp:CityObjectGroupType">
        <sequence>
          <element name="parcelType" type="undergroundParcel:ParcelTypeType"/>
          <element name="parcelState" type="undergroundParcel:ParcelStateType"/>
          <element minOccurs="0" name="parcelDimension" type="undergroundParcel:ParcelDimensionType"/>
          <element minOccurs="0" name="parcelUse" type="string"/>
          <element minOccurs="0" name="parcelTitleType" type="undergroundParcel:ParcelTitleTypeType"/>
          <element name="parcelName" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UndergroundLegalParcelPropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundParcel:UndergroundLegalParcel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
