Schema/undergroundBoundary.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:app="http://www.opengis.net/citygml/appearance/3.0" xmlns:brid="http://www.opengis.net/citygml/bridge/3.0" xmlns:bldg="http://www.opengis.net/citygml/building/3.0" xmlns:frn="http://www.opengis.net/citygml/cityfurniture/3.0" xmlns:grp="http://www.opengis.net/citygml/cityobjectgroup/3.0" xmlns:con="http://www.opengis.net/citygml/construction/3.0" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:dyn="http://www.opengis.net/citygml/dynamizer/3.0" xmlns:gen="http://www.opengis.net/citygml/generics/3.0" xmlns:luse="http://www.opengis.net/citygml/landuse/3.0" xmlns:pcl="http://www.opengis.net/citygml/pointcloud/3.0" xmlns:dem="http://www.opengis.net/citygml/relief/3.0" xmlns:tran="http://www.opengis.net/citygml/transportation/3.0" xmlns:tun="http://www.opengis.net/citygml/tunnel/3.0" xmlns:veg="http://www.opengis.net/citygml/vegetation/3.0" xmlns:vers="http://www.opengis.net/citygml/versioning/3.0" xmlns:wtr="http://www.opengis.net/citygml/waterbody/3.0" xmlns:undergroundParcel="https://github.com/Bahram-Saeidian/VicULA_ADE_CityGML3.git" xmlns:undergroundBoundary="https://github.com/Bahram-Saeidian/VicULA_ADE_CityGML3_Boundary.git" elementFormDefault="qualified" targetNamespace="https://github.com/Bahram-Saeidian/VicULA_ADE_CityGML3_Boundary.git" version="1.0">
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="./core.xsd"/>
  <import namespace="https://github.com/Bahram-Saeidian/VicULA_ADE_CityGML3.git" schemaLocation="./undergroundParcel.xsd"/>
    <import namespace="http://www.opengis.net/citygml/appearance/3.0" schemaLocation="./appearance.xsd"/>
    <import namespace="http://www.opengis.net/citygml/bridge/3.0" schemaLocation="./bridge.xsd"/>
    <import namespace="http://www.opengis.net/citygml/building/3.0" schemaLocation="./building.xsd"/>
    <import namespace="http://www.opengis.net/citygml/cityfurniture/3.0" schemaLocation="./cityFurniture.xsd"/>
    <import namespace="http://www.opengis.net/citygml/cityobjectgroup/3.0" schemaLocation="./cityObjectGroup.xsd"/>
    <import namespace="http://www.opengis.net/citygml/construction/3.0" schemaLocation="./construction.xsd"/>
    <import namespace="http://www.opengis.net/citygml/dynamizer/3.0" schemaLocation="./dynamizer.xsd"/>
    <import namespace="http://www.opengis.net/citygml/generics/3.0" schemaLocation="./generics.xsd"/>
    <import namespace="http://www.opengis.net/citygml/landuse/3.0" schemaLocation="./landUse.xsd"/>
    <import namespace="http://www.opengis.net/citygml/pointcloud/3.0" schemaLocation="./pointCloud.xsd"/>
    <import namespace="http://www.opengis.net/citygml/relief/3.0" schemaLocation="./relief.xsd"/>
    <import namespace="http://www.opengis.net/citygml/transportation/3.0" schemaLocation="./transportation.xsd"/>
    <import namespace="http://www.opengis.net/citygml/tunnel/3.0" schemaLocation="./tunnel.xsd"/>
    <import namespace="http://www.opengis.net/citygml/vegetation/3.0" schemaLocation="./vegetation.xsd"/>
    <import namespace="http://www.opengis.net/citygml/versioning/3.0" schemaLocation="./versioning.xsd"/>
    <import namespace="http://www.opengis.net/citygml/waterbody/3.0" schemaLocation="./waterBody.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="CardinalDirectionType">
    <restriction base="string">
      <enumeration value="west"/>
      <enumeration value="south"/>
      <enumeration value="north"/>
      <enumeration value="east"/>
    </restriction>
  </simpleType>
  <element name="CardinalDirectionDoorSurface" substitutionGroup="con:AbstractFillingSurface" type="undergroundBoundary:CardinalDirectionDoorSurfaceType"/>
  <complexType name="CardinalDirectionDoorSurfaceType">
    <complexContent>
      <extension base="con:AbstractFillingSurfaceType">
        <sequence>
          <element name="cardinalDirection" type="undergroundBoundary:CardinalDirectionType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CardinalDirectionDoorSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundBoundary:CardinalDirectionDoorSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CardinalDirectionWallSurface" substitutionGroup="con:AbstractConstructionSurface" type="undergroundBoundary:CardinalDirectionWallSurfaceType"/>
  <complexType name="CardinalDirectionWallSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element name="cardinalDirection" type="undergroundBoundary:CardinalDirectionType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CardinalDirectionWallSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundBoundary:CardinalDirectionWallSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ColumnSurface" substitutionGroup="con:AbstractConstructionSurface" type="undergroundBoundary:ColumnSurfaceType"/>
  <complexType name="ColumnSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ColumnSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundBoundary:ColumnSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="InteriorDoorSurface" substitutionGroup="con:AbstractFillingSurface" type="undergroundBoundary:InteriorDoorSurfaceType"/>
  <complexType name="InteriorDoorSurfaceType">
    <complexContent>
      <extension base="con:AbstractFillingSurfaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InteriorDoorSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundBoundary:InteriorDoorSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="MedianCeilingSurface" substitutionGroup="con:AbstractConstructionSurface" type="undergroundBoundary:MedianCeilingSurfaceType"/>
  <complexType name="MedianCeilingSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MedianCeilingSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundBoundary:MedianCeilingSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="MedianDoorSurface" substitutionGroup="con:AbstractFillingSurface" type="undergroundBoundary:MedianDoorSurfaceType"/>
  <complexType name="MedianDoorSurfaceType">
    <complexContent>
      <extension base="con:AbstractFillingSurfaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MedianDoorSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundBoundary:MedianDoorSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="MedianFloorSurface" substitutionGroup="con:AbstractConstructionSurface" type="undergroundBoundary:MedianFloorSurfaceType"/>
  <complexType name="MedianFloorSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MedianFloorSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundBoundary:MedianFloorSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="MedianWallSurface" substitutionGroup="con:AbstractConstructionSurface" type="undergroundBoundary:MedianWallSurfaceType"/>
  <complexType name="MedianWallSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MedianWallSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundBoundary:MedianWallSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ProjectedSurface" substitutionGroup="core:AbstractThematicSurface" type="undergroundBoundary:ProjectedSurfaceType"/>
  <complexType name="ProjectedSurfaceType">
    <complexContent>
      <extension base="core:AbstractThematicSurfaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProjectedSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundBoundary:ProjectedSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SurveyedSurface" substitutionGroup="core:AbstractThematicSurface" type="undergroundBoundary:SurveyedSurfaceType"/>
  <complexType name="SurveyedSurfaceType">
    <complexContent>
      <extension base="core:AbstractThematicSurfaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SurveyedSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="undergroundBoundary:SurveyedSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
